@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* #COLORS */
  --marine-blue: hsl(213, 96%, 18%);
  --purplish-blue: hsl(243, 100%, 62%);
  --pastel-blue: hsl(228, 100%, 84%);
  --light-blue: hsl(206, 94%, 87%);
  --strawberry-red: hsl(354, 84%, 57%);
  /* #NEUTRALS */
  --cool-gray: hsl(231, 11%, 63%);
  --light-gray: hsl(229, 24%, 87%);
  --magnolia: hsl(217, 100%, 97%);
  --alabaster: hsl(231, 100%, 99%);
  --white: hsl(0, 0%, 100%);
}

@layer components {
  .app {
    min-height: 100dvh;
    background-color: var(--alabaster);
    display: flex;

    text-align: center;
  }

  .wrapper {
    display: grid;
    grid-template-rows: auto 1fr;
    background-color: var(--magnolia);
    max-width: 90rem;
    width: 100%;
    min-height: 100dvh;
    position: relative;
  }

  @media (min-width: 48em) {
    .wrapper {
      width: auto;
      grid-template-rows: auto;
      background-color: var(--white);
      grid-template-columns: minmax(274px, auto) 1fr;
      max-width: 60rem;
      padding: 20px;
      min-height: auto;
      border-radius: 15px;
      box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
      flex: 1;
    }

    .app {
      padding: 10px;
      justify-content: center;
      text-align: start;
      background-color: var(--magnolia);
    }
  }
}
